-----BEGIN CERTIFICATE-----
PLACEHOLDER_CERTIFICATE_DATA
Replace this with your actual AWS Root CA certificate
Download from: https://www.amazontrust.com/repository/AmazonRootCA1.pem
-----END CERTIFICATE-----