-----BEGIN CERTIFICATE-----
PLACEHOLDER_DEVICE_CERTIFICATE_DATA
Replace this with your device certificate from AWS IoT Console
Generated when you create a new Thing in AWS IoT Core
-----END CERTIFICATE-----