-----BEGIN RSA PRIVATE KEY-----
PLACEHOLDER_PRIVATE_KEY_DATA
Replace this with your device private key from AWS IoT Console
KEEP THIS FILE SECURE AND NEVER COMMIT TO VERSION CONTROL
-----END RSA PRIVATE KEY-----